body {
    background-image: url(bg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
@font-face {
    font-family: AlbertsthalTyperwriter;
    src: url(fonts/AlbertsthalTypewriter.ttf);
}
#Shoe {
    width: 100px;
    height: 100px;
    transform: translateY(200%);
    right: 1%;
    position: fixed;
    display: block;
    opacity: 0.8;
}
#Hat {
    width: 100px;
    height: 100px;
    top: 10%;
    left: 50%;
    position: relative;
    display: block;
    opacity: 0.55;
}
#Remote {
    width: 80px;
    height: 80px;
    transform: translateY(300%);
    position: relative;
    display: block;
    opacity: 0.6;
}
#Barrel {
    width: 100px;
    height: 100px;
    top: 1%;
    left: 30%;
    position: relative;
    display: block;
    opacity: 0.9;
}
#Knife {
    width: 100px;
    height: 100px;
    top: 10%;
    left: 40%;
    position: relative;
    display: block;
}

#grid {
    height: fit-content;
    width: 90%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.6);
    border-style: outset;
    border-color: wheat;
    border-width: 2px;
}

span {
    padding: 0.5%;
    color: white;
    font-size: 40px;
    font-family: AlbertsthalTyperwriter;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}